<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" connectionString="Data Source=.\SWSQL2014;Initial Catalog=CIOPortal_Production1;persist security info=True;user id=AppUser;password=appuser321!" providerName="System.Data.SqlClient" />
    <add name="CIOEntities" connectionString="metadata=res://*/Models.CIOEntities.csdl|res://*/Models.CIOEntities.ssdl|res://*/Models.CIOEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SWSQL2014;initial catalog=CIOPortal_Production1;persist security info=True;user id=AppUser;password=appuser321!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogFolder" value="Logs" />
    <!-- Session time out in minutes-->
    <add key="SessionTimeOutInterval" value="20" />
     <!--Default Security roles related-->
    <add key="NormalUserRoleName" value="User" />
    <add key="SuperAdminUserRoleName" value="Super Admin" />
    <add key="StateAdminUserRoleName" value="State Admin" />
    <add key="StateEditorUserRoleName" value="State Editor" />
    <add key="StateReadOnlyUserRoleName" value="State ReadOnly User" />
    <add key="GlobalReadOnlyUserRoleName" value="Global ReadOnly User" />
    <!--Default user-->
    <add key="DefaultAdminUserEmail" value="rmaurya@switchlane.com" />
    <add key="DefaultAdminUserPassword" value="Cioportal$1234" />
    <add key="DefaultAdminUserFirstName" value="Admin" />
    <add key="DefaultAdminUserLastName" value="Admin" />
    <add key="DefaultAdminUserState" value="Delaware" />
    <add key="DefaultAdminUserPhoneNumber" value="9899989382" />
    <!--Constant Value Related-->
    <add key="NotApplicableorNotAvilable" value="not applicable or not available" />
    <!--Email Related-->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <!-- Enable SSL on SMTP: true - enabled, false - not enabled-->
    <add key="SMTPEnableSSL" value="true" />    
    <!--SMTP username and password - Leave blank("") if smtp server doesn't requires credentials-->
    <add key="SMTPUsername" value="rmswitchlane@gmail.com" />
    <add key="SMTPPassword" value="Switchlane2015!" />
    <add key="EmailFrom" value="rmswitchlane@gmail.com" />
    <!-- Email settings to control "test" or "live" mode, in Test mode all emails will go to the designated test email list -->
    <add key="EmailMode" value="test" />
    <!---CSV List of email who will received all emails sent in test mode-->
    <add key="TestEmailModeList" value="rmswitchlane@gmail.com" />
    <!-- Account Confirmation Email Related-->
    <add key="EmailFooterNote" value="CCSSO - CIO Network Information Portal" />
    <add key="AccountConfirmationEmailSubject" value="CCSSO - CIO Network Information Portal: confirm your account" />
    <add key="ForgortPasswordEmailSubject" value="CCSSO - CIO Network Information Portal: Reset your password" />
    <add key="AccountApprovedEmailSubject" value="CCSSO - CIO Network Information Portal: Your account has been approved" />
    <add key="AccountRejectedEmailSubject" value="CCSSO - CIO Network Information Portal: Your account has been rejected" />
    <add key="SystemServiceUpdateSubject" value="CCSSO - CIO Network Information Portal: ##STATE## - ##SERVICE_CONTRACT_NAME## Service Contract Updated" />
    <add key="ForumUpdateSubject" value="CCSSO - CIO Network Information Portal: ##TITLE## Forum Updated" />
    <!-- New Account request email notifications-->    
    <add key="NewAccountNotifyEmail" value="rmswitchlane@gmail.com" />
    <add key="NewAccountNotifySubject" value="CCSSO - CIO Network Information Portal: New Account Access Request" />
  </appSettings>  
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.5" />    
    <httpRuntime targetFramework="4.5" /> 
    <globalization uiCulture="en-US" culture="en-US"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>    
  </system.webServer>
  <location path="Document/Upload">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="Document/Create">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>