@{
    ViewBag.Title = "About";
}
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <img src="@Url.Content("~/Images/Logo.png")" />
    </div>
    <div class="col-md-9">
        <p class="HomeText">
            Recruiter’s dream will allow recruitment team to
            <ul class="HomeText">
                <li>Rate prospective technical consultants’ technical skills</li>
                <li>Improve the turnaround time in fulfilling client job requirements</li>
                <li>Effectively reuse the resume database built over several years</li>
                <li>Guarantee the quality of the consultants submitted to clients</li>
                <li>Share knowledge between the recruitment team</li>
                <li>Generate real time reports on the status of Job Requirements, Closures, Bench List, Recruiter’s performance, Lead generations etc</li>
            </ul>
        </p>
    </div>
</div>
<br />
